//////////////////////////////////////////////////////////////////////////
// CSS Reset
@import "./reset.scss";
// CSS specific to Ant Design
@import "./antd.scss";
// Generally reusable CSS
@import "./core.scss";

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

//////////////////////////////////////////////////////////////////////////
// Color theme
html {
  --primaryBackground: #ffffff;
  --primaryTextColor: #000000;
}
//////////////////////////////////////////////////////////////////////////
//

header {
  font-family: "Roboto";
  @extend .paper;
}
//////////////////////////////////////////////////////////////////////////
// Other

#root {
  background: url("https://cdn.pixabay.com/photo/2017/03/25/18/06/color-2174065_1280.png")
    no-repeat center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.article {
  margin-bottom: 20px;
}
main {
  @extend .responsive;
  padding: 30px;
}
#user-menu {
  margin: 5px;
  margin-left: 15px;
  padding: 5px;
  background-color: whitesmoke;
  #user-menu-username {
    margin-left: 5px;
    margin-right: 3px;
  }
}
