@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900");
@import url("https://fonts.googleapis.com/css2?family=Open Sans");
@import "./reset.css";

body {
  font-family: Roboto, sans-serif;
  transition-duration: 0s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
