#root {
  height: 100%;
}

a {
  text-decoration: unset;
  color: unset;
  cursor: pointer;
}

html,
body,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

a {
  white-space: nowrap;
}

/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
  font: inherit;
}
