@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

a,
p,
span,
div {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: unset;
  color: unset;
  cursor: pointer;
  white-space: nowrap;
}

body {
  margin: 0;
}
